<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="NewFile.css">
<title>Insert title here</title>
</head>
<body>
	<table border="1" id="table1">
		<tr>
			<td>asd</td>
		</tr>
	</table>
	<table border="1" id="table2">
		<tr>
			<td>asd</td>
		</tr>
	</table>
	<table border="1" id="table3">
		<tr>
			<td>asd</td>
		</tr>
	</table>
	<table border="1" id="table4">
		<tr>
			<td>asd</td>
		</tr>
	</table>
	<table border="1" id="table5">
		<tr>
			<td>asd</td>
		</tr>
	</table>
	<table border="1" id="table6">
		<tr>
			<td>asd</td>
		</tr>
	</table>

</body>
</html>