<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="jQuery.js"></script>
<script type="text/javascript">
$(function(){
	//jQuery : 오래된 기술 -> 호환성 고려
	// 	ES6를?
	//Spring:
	//	JDK1.17를?
	
	//JavaScript: 
		//	고급언어->언어 자체적으로 자동 처리
		//	ESMAScript
		//ES6(ES2015)
		//	var->let(일반)/const(상수)
		//	function(){}대신 arrow function(화살표 함수)
		//		()=>{}
		
		const b=20;//수정 불가능한 변수
		/*b=30;
		alert(b); */
		
		let a=10;
		//let을 써서 변수를 만들면 Java처럼 변수를 하나밖에
		//let a=20;
		alert(a);
	$("button").click(()=>{
		alert("qwe")
	});
		
		
/* 	var a=10;
	var a=20; // Java:에러 , Python처럼 처리됨
	var b=20;
function test(){
	return b=30;
} */
	test();
	alert(b);
	

});

</script>
<title>Insert title here</title>
</head>
<body>
<button>hello</button>
</body>
</html>